form .password-container {
   display: flex;
}

form .password-container input {
   background: none;
   flex-grow: 1;
   padding-right: 1.5rem;
}

form .password-container button {
   display: flex;
   align-items: center;
}

form .password-container img {
   height: 1.4em;
}