.registration {
   max-width: 60rem;
   margin: 0 auto;
   padding: 5rem 3.5rem;
}

.registration .lang-picker {
   background: none;
   border: 1px solid black;
   padding: .3rem .8rem;
   font: inherit;
   cursor: pointer;
   font-size: 1.4rem;
   position: absolute;
   bottom: 1rem;
   left: 1rem;
}

.registration form {
   display: flex;
   flex-direction: column;
}

.registration h1 {
   text-align: center;
   margin: 2rem 0 3rem;
}

form .logo {
   height: 7rem;
}

.error {
   color: var(--danger);
   font-size: .85em;
   font-weight: bold;
   overflow: hidden;
   transition: height .2s;
}

form input:not(.password-container input), form .password-container {
   width: 100%;
   background: white;
   border: 2px solid var(--moon);
   padding: .5rem 1.5rem;
}

.dark form input:not(.password-container input), .dark form .password-container {
   background: var(--dark-night-blue);
}

form input:not(.container input), form .container:not(.container .container) {
   margin: 1rem 0;
}

form input:not(.password-container input):focus, form .password-container:focus-within {
   border-color: var(--electric-blue);
}

form input:focus {
   border-color: var(--electric-blue);
}

.registration .form-footer {
   color: var(--nickel);
   margin-top: 2rem;
   padding: 0 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.registration .form-footer > * {
   margin: .5rem 1rem;
   flex-basis: 0;
}

.registration .form-footer p {
   text-align: justify;
   font-size: .8em;
   flex-grow: 1;
   min-width: 20rem;
}