.registration {
   max-width: 60rem;
   margin: 0 auto;
   padding: 5rem 3.5rem;
}

.dark form {
   --nickel: white;
}

.registration .lang-picker {
   background: none;
   border: 1px solid black;
   padding: .3rem .8rem;
   font: inherit;
   cursor: pointer;
   font-size: 1.4rem;
   position: absolute;
   bottom: 1rem;
   left: 1rem;
}

.registration form {
   display: flex;
   flex-direction: column;
}

.registration h1 {
   text-align: center;
   margin: 2rem 0 3rem;
}

form .logo {
   height: 7rem;
}

.registration .form-footer {
   color: var(--nickel);
   margin-top: 2rem;
   padding: 0 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.registration .form-footer > * {
   margin: .5rem 1rem;
   flex-basis: 0;
}

.registration .form-footer p {
   text-align: justify;
   font-size: .8em;
   flex-grow: 1;
   min-width: 20rem;
}