:root {
   --night-blue: #1F1B4E;
   --dark-night-blue: #18153A;
   --electric-blue: #3420FF;
   --danger: #E74C3C;
   --nickel: #666666;
   --moon: #999999;
}

.dark {
   color: white;
   --nickel: white;
}

*, ::before, ::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.6rem;
}

#root {
   min-height: 100vh;
   position: relative;
}

.dark #root {
   background: var(--night-blue);
}