a {
   color: var(--electric-blue);
}

input, button {
   border: none;
   font: inherit;
}

input {
   outline: none;
   min-width: 0;
   color: inherit;
}

select {
   outline: none;
}

select:focus-visible {
   border-color: var(--electric-blue) !important;
}

button {
   background: none;
}

.btn-primary {
   background: var(--electric-blue);
   color: white;
      padding: .7em 1.5em;
   border-radius: .8rem;
   transition: opacity .3s;
}

button:disabled {
   opacity: .5;
}

button:not(:disabled) {
   cursor: pointer;
}

input[type="password"]::-ms-reveal {
   display: none;
}

.flex {
   display: flex;
}

strong {
   font-weight: inherit;
   color: var(--electric-blue);
}

.one-line {
   -webkit-line-clamp: 1;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   word-break: break-all;
}

.icon {
   height: .8em;
   flex-shrink: 0;
   margin: 0 .3em;
}

.label {
   color: var(--nickel);
   margin: 1rem 0;
}

.dark .label {
   --nickel: white;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: var(--light-grey);
}

.dark::-webkit-scrollbar-track, .dark ::-webkit-scrollbar-track {
   background: var(--extra-dark-night-blue);
}

::-webkit-scrollbar-thumb {
   background: var(--moon);
   border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
   background: var(--nickel);
}

/* -- Firefox scrollbar -- */
*, ::before, ::after {
   scrollbar-width: thin;
   scrollbar-color: var(--moon) var(--background);
}